@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

$black: #000;
$white: #fff;
$light-white: #aaa;
$light-bg: #111;
$orange: #f5b67b;
$width: 100vw;
$height: calc(10/28*#{$width});

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }
}

body{
    background-color: $light-bg;
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 5rem;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: .1rem;
        width: 100%;
        background-color: $light-white;
        z-index: -1;
    }

    span{
        font-size: 3rem;
        color: $orange;
        background: $light-bg;
        padding: .5rem 1.5rem;
    }
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.9%;
    background: black;
    z-index: 1000;

    .logo{
        font-weight: bolder;
        color: $white;
        font-size: 2rem;
    }

    .logo-mobile{
        display: none;
    }

    .navbar a{
        display: inline-block;
        padding: 1.5rem 2rem;
        color: $white;
        font-size: 1.5rem;

        &:hover{
            background: $orange;
        }
    }
}

#menu-btn{
    font-size: 3rem;
    color: $white;
    cursor: pointer;
    display:none;
}

.home{
    padding: 0;
    margin-top: 6.5rem;

    .slide{
        min-height: 80vh;
        background-size: cover !important;
        background-position: center !important;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
    }

    .content{
        width: 60rem;

        span{
            font-size: 2rem;
            color: $orange;
            display: block;
        }

        h3{
            font-size: 5rem;
            color: $white;
            padding: 1rem 0;
        }
    }
}

.about{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 8rem;

    .content{
        flex:1 1 42rem;

        img{
            height: 15rem;
            width: 15rem;
        }


        span{
            font-size: 2rem;
            color: $orange;
        }

        .title{
            font-size: 4rem;
            color: $white;
            margin-top: 2rem;
        }

        p{
            font-size: 1.5rem;
            color: $light-white;
            padding: 1rem 0;
            line-height: 2;
        }

        .box-container{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 2rem;
        }

        .box{
            flex: 1 1 20rem;

            h3{
                font-size: 2rem;
                color: $white;
            }

            i{
                padding-right: 1.5rem;
                color: $orange                ;
            }
        }
    }
}

.review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .information{
        text-align: center;
        h3{
            font-size: 2.5rem;
            color: $white;
            padding-top: 1rem; 
            margin-bottom: 2rem;           
        }
    }

    .review-slider{
        .slide{
            padding: 2rem 3rem;
            
            text-align: center;
            p{
                font-size: 1.5rem;
                line-height: 2;
                color: $light-white;
                margin-bottom: 2rem;
            }

            h3{
                font-size: 2rem;
                color: $white;            
            }

            span{
                color: $orange;
                font-size: 1.5rem;
            }
            
            i{
                font-size: 5rem;
                margin-left: auto;
                margin-right: 2rem;
                color: $orange;

            }
        }
    }
}


.bodypf{
    padding: 0;
    margin-bottom: 10rem;

    .heading{
        margin-top: 5rem;
        margin-bottom: 2rem;
        align-items: center;
        
    }

    p{
        font-size: 1.5rem;
        line-height: 2;
        color: $light-white;
        margin-bottom: 2rem;
        text-align: center;
    }

    .slide{
        
        margin-bottom: 7rem;
        height: 45rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
    }
}




.features{
    padding: 0
}


.features .box-container{
    @include grid(32rem);
    gap: 0;

    .box{
        background: black;

        }
        &:hover .image img{
            transform: scale(1.1);
        }
        .image{
            height: 50rem;
            width: 100%;
            overflow: hidden;

            img{
                height: 50rem;
                width: 100%;
                object-fit: cover;
            }
        }

        .content{
            padding: 4rem;
            text-align: center;

            h3{
                font-size: 2rem;
                color: $orange;
            }

            p{
                font-size: 1.5rem;
                line-height: 2;
                color: $light-white;
                padding: 1rem 0;
            }
        }
    }


    .results{
        padding: 0;
        margin-bottom: 10rem;

        .results-container{
            max-width: 1200px;
            margin: 0 auto;
        }

        .heading{
            margin: 5rem 0;
        }
        .slide{
            
            margin-bottom: 7rem;
            height: 40rem;
            
            // .image{
            //     height: 30rem;
            //     width: 100%;
            //     overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            // }
        }
    }







    .story-heading{
        padding: 0;
        margin-top: 8rem;
    }

    .story{
        .slide{
            background: $black;
            margin-bottom: 7rem;
            height: 60rem;
            
            .image{
                height: 40rem;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .content{
                padding: 2rem;

                .link{
                    padding-bottom: 1.5rem;
                    font-size: 1.5rem;

                    span{
                        color: $orange;
                        padding: 0;
                    }
                }

                h3{
                    font-size: 2rem;
                    color: $white;
                    line-height: 1.5;
                }

                p{
                    font-size: 1.5rem;
                    color: $light-white;
                    line-height: 1.5;
                    padding: 1rem 0;
                }
            }
        }
    }

    .swiper-pagination-bullet{
        height: 2rem;
        width: 2rem;
        background: $white;
        border-radius: 50%;
      
        &.swiper-pagination-bullet-active{
          background: $orange;
        }
      } 

    // .banner{
    //     padding: 0;
    //      .banner-container{
    //         background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), (url(../images/banner-bg.jpg) no-repeat);
    //         background-size: cover;
    //         background-position: center;
    //         background-attachment: fixed;
    //         text-align: center;
    //         padding: 10rem;
    //      }       
    //     span{
    //         font-size: 3rem;
    //         color: $orange;
    //     }

    //     h3{
    //         padding-top: 1rem;
    //         font-size: 4rem;
    //         color: $white;
    //         text-transform: uppercase;
    //         font: optional;
    //     }

    //     p{
    //         margin: 1rem auto;
    //         max-width: 60rem;
    //         font-size: 1.5rem;
    //         color: $light-white;
    //         line-height: 2;
    //     }
    // }

    .banner{
        padding: 0;
        text-align: center;
        .parallax-wrapper {
            width: $width;
            height: $height;
            position: relative;
            display: block;
            margin: auto;
        
            .content-wrapper {
                overflow-y: scroll;
                position: absolute;
                clip: rect(0, $width, $height, 0);
        
        
                .image-background {
        
                    &.bg1 {
                        background-image: url('/images/banner.jpg');
                    }
        
                    transform: translate3d(0, 0, 0);
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: fixed;
                    top: 0px;
        
                    width: $width;
                    height: 100vh;
                    z-index: -10;
                }
                .info{
                    width: 100vw;
                    padding-top: 12%;
                    padding-bottom: 10%;

                    span{
                    font-size: 3rem;
                    color: $orange;
                        }

                    h3{
                        padding-top: 1rem;
                        font-size: 4rem;
                        color: $white;
                        text-transform: uppercase;
                        font: optional;
                    }

                    p{
                        margin: 1rem auto;
                        max-width: 60rem;
                        font-size: 1.5rem;
                        color: $light-white;
                        line-height: 2;
                    }
                }
        
            }
        
        }
    }
   

    .tdee{
        @include grid(32rem);

        .information{

            span{
                font-size: 2rem;
                color: $orange;
            }

            h3{
                font-size: 3rem;
                padding-top: .5rem;
                color: $white;
            }

            p{
                line-height: 2;
                padding: 1rem 0;
                font-size: 1.5rem;
                color: $light-white;
            }
        }

        .calculator {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: .5rem;
            text-align: center;
          }
          
          label{
            color: $white;
            font-size: 1.4rem;
          }
          
          h3{
            font-size: 3rem;
            margin-bottom: 2rem;
            color: $white;
          }
          
          label {
            display: block;
            margin-bottom: 1rem;
          }
          
          input[type="number"],
          select {
            width: 70%;
            padding: 1rem;
            margin-bottom: 2rem;
            border: .1rem solid #ccc;
            border-radius: .5rem;
            font-size: 1.6rem;
          }
          .activity{
            width: 100%;
            margin-bottom: 2rem;
          }
          
          button {
            background-color: #4CAF50;
            color: white;
            padding: 1rem 2rem;
            border: none;
            border-radius: .5rem;
            font-size: 1.6rem;
            cursor: pointer;
          }
          
          button:hover {
            background-color: #3e8e41;
          }
          
          #result {
            font-size: 2.4rem;
            font-weight: bold;
            margin-top: 2rem;
            color: $orange;
          }
    }


    table {
        width: 100%;
      }
      th {
        width: 25%;
      }
      table.center {
        margin-left: auto; 
        margin-right: auto;
      }




// media queries

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 0 2rem;
    }

    section{
        padding:3rem 2rem;
    }

    .home .slide{
        padding: 2rem 5%;

        .content{
            width: 50%;

            h3{
                font-size: 4rem;
            }
        }
    }

}


@media (max-width:768px){

        .features .box-container{
            display: flex;
            gap: 0;
        }

    #menu-btn{
        display:inline-block;

        &.fa-times{
            transform: rotate(180deg);
        }

    }
    
    .header{
        padding: 2rem;

        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            text-align: center;
            background: $black;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);



            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);



            }

            a{
                display: block;
                font-size: 2rem;
            }
        }
    }

    .about{
        gap: 3rem;

        .content .title{
            font-size: 3rem;
        }
    }

}

@media (max-width:450px){

    .swiper-pagination-bullet{
        height: 1rem;
        width: 1rem;
    }

    .features .box-container{
        @include grid(32rem);
        gap: 0;
    
        .box{
            .image{
                height: 30rem;
                width: 100%;
                overflow: hidden;
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }


    html{
        font-size: 55%;
    }

    .header{

        padding: 0 2rem;
        
        .logo{
            display: none;
        }
        .logo-mobile{
            display: inline-block;

            .dps-logo{
                width: 70px;
                height: 70px;
                
            }
        }
    }

    .about {
        .content{

            img{
                height: 10rem;
                width: 10rem;
            }
            p{
                padding: 1rem 2rem;
            }
            .box-container{
                text-align: left;
                padding-left: 3rem;
            }
            .box{
                flex: 1 1 12rem;
                
                h3{
                    font-size: 1.4rem;
                }

                .box-p{
                    padding-left: 3rem;
                }
            }
        }
    }

    .review{
        .review-slider{
            .slide{        
                padding: 0;        
                padding-top: 2rem;
            }}
        }

        .features{
            .box-container{
                .content{
                    p{
                        padding: 1rem 2rem;            
                    }
                }
            }
        }
                
    .banner{
        // .banner-container{
        //     background-attachment:initial;
        //     span{
        //         font-size: 1.8rem;
        //     }
    
        //     h3{
        //         font-size: 1.8rem;
        //     }
            
        //     p{
        //         font-size: 1.3;
        //     }
        // }
        $height: 120vw; 
        div.parallax-wrapper {
            height: $height;
    
            div.content-wrapper {
                clip: rect(0, $width, $height, 0);

                .info{
                    padding-top: 40%;
                    padding-bottom: 10%;
                    
                    span{
                        font-size: 2rem;
                    }
            
                    h3{
                        font-size: 1.8rem;
                    }
                    
                    p{
                        font-size: 1.5rem;
                        padding: 0 1rem;
                    }
            }
        }
        
    }
      
}
}